<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Login Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Controller</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login Check Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.LoginCheckController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Check Controller</servlet-name>
		<url-pattern>/login-check</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout Controller</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Google Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.GoogleCallBackController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Google Controller</servlet-name>
		<url-pattern>/googlecallback</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register Controller</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Forgot Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.ForgotController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forgot Controller</servlet-name>
		<url-pattern>/forgot</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Contact Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.ContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact Controller</servlet-name>
		<url-pattern>/Contact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Upload Controller</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.UploadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload Controller</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Screen Accept</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.ScreeningAcceptController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Screen Accept</servlet-name>
		<url-pattern>/screen-accept</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Screen Reject</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.ScreeningRejectController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Screen Reject</servlet-name>
		<url-pattern>/screen-reject</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Comment</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.CommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Like</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.LikeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Like</servlet-name>
		<url-pattern>/likeController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Petition</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.PetitionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Petition</servlet-name>
		<url-pattern>/petition</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Change Name</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.ChangeNameController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change Name</servlet-name>
		<url-pattern>/changename</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Change Password</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.ChangePasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change Password</servlet-name>
		<url-pattern>/changepassword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Comment Delete</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.DeleteCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comment Delete</servlet-name>
		<url-pattern>/deletecomment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add Admin</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.AddAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Admin</servlet-name>
		<url-pattern>/addadmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Facebook Login</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.FacebookLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Facebook Login</servlet-name>
		<url-pattern>/fblogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Save Password Link</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.SavePasswordLinkController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Save Password Link</servlet-name>
		<url-pattern>/savePasswordLink</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete Password Link</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.DeleteForgotUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete Password Link</servlet-name>
		<url-pattern>/deletePasswordLink</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Verify Password</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.CheckPasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Verify Password</servlet-name>
		<url-pattern>/checkPassword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>com.osahub.thehouse.controller.Demo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Fame</servlet-name>
		<jsp-file>/Fame.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fame</servlet-name>
		<url-pattern>/fame</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Shame</servlet-name>
		<jsp-file>/Shame.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shame</servlet-name>
		<url-pattern>/shame</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Change</servlet-name>
		<jsp-file>/Change.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change</servlet-name>
		<url-pattern>/change</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
